{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <input type="submit" value="Create" class="btn btn-success" />
    {{ form_end(form) }}

    <a href="{{ path('homepage') }}" class="btn btn-default">Back to main page</a>
{% endblock %}