{% extends 'base.html.twig' %}

{% block body %}
<ul>
    {% for team in teams %}
        <li>
            <a href="{{ path('teams', {"teamId": team.id} )}}">{{ team.name }} National Football Team</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}